/* The CSS global styles had been taken from Josh W Comeau`s website  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Personal changes */
body {
  line-height: 1;
  font-family: "Inter";
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
address {
  font-style: normal;
}
/* REMOVING DECORATIVE DEFAULT ARROWS OF INPUTS WITH TYPES 'LIST' AND 'NUMBER' */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}
/* ---- */
