/* DESIGN SYSTEM VARIABLES */
:root {
  --hero-color: 0deg 100% 96%;
  --main-color: 223deg 47% 15%;
  --theme-color: 47deg 100% 44%;
  --desktop-horizontal-gap: 120px;
  --desktop-vertical-gap: 80px;
  --reduced-button-paddings: 8px 16px;
  --regular-button-paddings: 16px 40px;
}

/* COMMON STYLES */
body {
  color: hsl(var(--main-color));
}
.site-wrapper {
  padding: 0 var(--desktop-horizontal-gap);
}
.hero-container {
  margin: 0px calc(var(--desktop-horizontal-gap) * -1);
  padding: 0 var(--desktop-horizontal-gap);
  margin-bottom: var(--desktop-vertical-gap);
  background: linear-gradient(
      270deg,
      hsl(0deg 0% 0% / 0) 50%,
      hsl(0deg 0% 0% / 1) 100%
    ),
    url(/images/hero-image-x1.jpg);
  background-size: cover;
  color: hsl(var(--hero-color));
}
.button,
.select,
.input {
  border: none;
  background: none;
  color: inherit;
}
.h2-heading {
  font-size: 3rem;
  font-weight: 600;
}
.h3-heading {
  font-size: 2rem;
  font-weight: 600;
}
.regular-text {
  font-size: 1.25rem;
  line-height: 1.6;
}
/* INPUT STYLES */
.input {
  flex-grow: 1;
  margin-left: 16px;
  padding: 12px 40px;
  margin-left: -24px;
}
.input[type="number"] {
  margin-right: -16px;
  cursor: pointer;
}
.input-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
}
.input-container_theme_location::before {
  content: url(/images/location.svg);
}
.input-container_theme_calendar::before {
  content: url(/images/calendar.svg);
}
.input-container_theme_person::before {
  content: url(/images/person.svg);
}
.input-container_theme_person::after {
  content: url(/images/input-arrow.svg);
  pointer-events: none;
}
.input-container_theme_mail::before {
  content: url(/images/mail.svg);
}
/* --- */

.button {
  padding: var(--regular-button-paddings);
  cursor: pointer;
}
.button_rounded {
  border: 1px solid hsl(var(--theme-color));
  border-radius: 40px;
}
.select {
  cursor: pointer;
  appearance: unset;
}
.border-wrapper {
  margin: 0px calc(var(--desktop-horizontal-gap) * -1);
  padding: 0 var(--desktop-horizontal-gap);
  border-bottom: 1px solid hsl(var(--hero-color));
}

/* HEADER STYLES */
/* TOP HEADER STYLES */
.top-header {
  display: flex;
  justify-content: space-between;
  min-height: 64px;
}
.top-header__credits {
  display: flex;
  align-items: center;
  gap: 40px;
}
.top-header__right {
  display: flex;
  align-items: center;
}
.top-header__right > *:not(:last-child) {
  border-right: 1px solid hsl(var(--hero-color) / 0.4);
}
.top-header__social {
  display: flex;
  gap: 16px;
  padding-right: 40px;
}
.top-header__button {
  padding: var(--reduced-button-paddings);
}
.top-header__auth {
  display: flex;
  gap: 16px;
  padding: 0px 40px;
}
.top-header__select-container {
  display: flex;
  margin-left: 40px;
}
.top-header__select-container::after {
  display: block;
  margin-left: -14px;
  content: url(/images/input-arrow.svg);
  pointer-events: none;
  transform: translateY(-3px);
}
.top-header__list {
  padding-right: 18px;
}
.top-header__list-item {
  color: black;
}

/* BOTTOM HEADER STYLES */
.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}
.bottom-header__list {
  display: flex;
  gap: 40px;
}

/* SECTION HERO */
.section-hero {
  padding: 80px 0px;
  max-width: 50%;
}
.section-hero__heading {
  font-size: 5rem;
  margin-bottom: 40px;
}
.section-hero__text {
  margin-bottom: var(--desktop-vertical-gap);
}
.section-hero__flight-form {
  display: flow-root;
}
.section-hero__flight-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 24px;
  margin-bottom: 40px;
}
.section-hero__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-hero__button {
  float: right;
}

/* MAIN */
.main {
  margin-bottom: var(--desktop-vertical-gap);
}

/* SECTION DESTINATIONS STYLES */
.section-destinations {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  gap: 0 166px;
  margin-bottom: 160px;
}
.section-destinations__description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.section-destinations__button {
  background-color: hsl(var(--theme-color));
  color: hsl(var(--hero-color));
}
.section-destinations__card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-destinations__country-image {
  border-radius: 40px;
}
.section-destinations__image-signature {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.section-destinations__country {
  font-size: 1.5rem;
  color: hsl(var(--theme-color));
}
.section-destinations__image-signature::after {
  position: absolute;
  right: 0;
  top: 5px;
  content: url(/images/airplane\ decoration.svg);
}
.section-destinations__cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* SECTION-SERVICES STYLES */
.section-services {
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin-bottom: var(--desktop-vertical-gap);
}
.section-services__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-basis: 50%;
}
.section-services__list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-services__heading-block {
  display: flex;
  align-items: center;
  gap: 40px;
}
.section-services__item-text {
  padding-left: 80px;
}
.section-services__promo-block {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.section-services__promo-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

/* SECTION SUBSCRIBE */
.section-subscribe {
  padding: 80px 80px;
  background-color: hsl(var(--theme-color));
  border-radius: 40px;
}
.section-subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.section-subscribe__heading {
  text-align: center;
}
.section-subscribe__text {
  width: 55ch;
  text-align: center;
}
.section-subscribe__mail-container {
  display: flex;
  gap: 45px;
  padding: 40px;
  background-color: hsl(var(--hero-color));
  border-radius: 40px;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: var(--desktop-vertical-gap);
}
.footer__nav {
  width: 100%;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-size: 1.5rem;
  font-weight: 600;
}

/* MEDIA QUERIES */

/* RESPONSIVE IMAGES */
@media (min-resolution: 2dppx) {
  .hero-container {
    background: linear-gradient(
        270deg,
        hsl(0deg 0% 0% / 0) 50%,
        hsl(0deg 0% 0% / 1) 100%
      ),
      url(/images/hero-image-x2.jpg);
    background-size: cover;
  }
}
@media (min-resolution: 3dppx) {
  .hero-container {
    background: linear-gradient(
        270deg,
        hsl(0deg 0% 0% / 0) 50%,
        hsl(0deg 0% 0% / 1) 100%
      ),
      url(/images/hero-image-x3.jpg);
    background-size: cover;
  }
}
